@using IdentityApp.Areas.Admin.Models;
@model List<UserViewModel>
@{
    ViewData["Title"] = "UserList";
}
 
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Isim</th>
            <th scope="col">Mail</th>
            <th scope="col">Telefon</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@item.Id</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>